services:
  postgres:
    image: postgres:16-alpine
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: jolo
      POSTGRES_PASSWORD: jolo
      POSTGRES_DB: jolo
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
